.all_space{
margin-top: 10px;

}

.btn{
font-size: 1rem;
width: 100%;
min-width: 100px;
height: 35px;
border: solid 3px rgba(94, 128, 137, 1); 
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
color: white;
font-weight: normal;
white-space: nowrap;

}


.btn:hover {
    background-color: rgba(138, 194, 207, 1);
    color: black;
    font-weight: bold;
}
.link_btn{
    text-decoration: none;
    
}
