.all_space{
padding: 10px;
background-color: #f1f1f1;

}

.btn{
font-size: 15px;
width: 100%;
height: 3vh;
border: solid 2px #01274e;
border-radius: 30px;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
color: black;
font-weight: bold;
margin-top: -40px;
}

.btn:hover {
    background-color: #01274e;
    color: white;
}
.link_btn{
    text-decoration: none;
    
}
