
.container_footer {
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    min-height: 230px;
    margin-top: 20px;
   gap: 40px;
   letter-spacing: 2px;
   flex-wrap: wrap;
}


/* FirstList*/

.list1_footer > div {
    display: flex;
    
}
.list1_footer > div >h2 {
    font-size:1.7rem;
    margin-bottom: 10px;
    font-weight: normal;
}
.list1_footer > div > p {
    font-size:0.9rem;
    color: #c9c7c7;
    margin-top: 10px;
    margin-left: 5px;
}

.zapIcon_list1_footer{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    margin-left: -6px;
    color: white;
    cursor:pointer;
}
.zapIcon_list1_footer:hover{
    color: rgba(138, 194, 207, 1);
}


/* Second List*/
.list2_footer > div{
    display: flex;
    
}
.list2_footer > div >h2 {
    font-size:1.7rem;
    margin-bottom: 10px;
    font-weight: normal;
}
.list2_footer > div > p {
    font-size:0.9rem;
    color: #c9c7c7;
    margin-top: 10px;
    
    
}
.instaIcon_list2_footer{
    margin-left: -8px;
}
.zapIcon_list2_footer{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    margin-left: -8px;
    color: white;
    cursor:pointer;
}
.zapIcon_list2_footer:hover{
    color: rgba(138, 194, 207, 1);
}

.youtubeIcon_list2_footer{
    margin-left: -27px;
}

.tiktokIcon_list2_footer{
    margin-left: -27px;
}

/* Third List*/

.list3_footer > div >h2 {
    font-size:1.7rem;
    margin-bottom: 0.8rem;
    font-weight: normal;
}
.list3_footer > div >p {
    font-size:0.9rem;
    color: #c9c7c7;
    margin-top: 10px;
    
}

/* Fourd_list*/
.list4_footer > div >h2 {
    font-size:1.7rem;
    margin-bottom: 0.8rem;
    font-weight: normal;
}
.link_aboutUs {
    font-size: 1rem;
    color: rgba(138, 194, 207, 1);
    cursor: pointer;
}
.list4_footer > div >p {
    font-size:0.9rem;
    color: #c9c7c7;
    margin-top: 10px;
    
}

/* Copyright List*/
.container_copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 20px;
    max-height: 100px;
    background-color: rgb(66, 91, 98);
    color: #f1f1f1;
    letter-spacing: 2px;
}
.container_copyright > h2 {
    color: rgba(138, 194, 207, 1);
    font-size:1.1rem ;
    background-color: rgb(66, 91, 98);
    margin-left: 5px;
}
.container_copyright >p {
    margin-left: 5px;
    background-color: rgb(66, 91, 98);
 font-size: 0.9rem;
 color: #c9c7c7;
}
@media (max-width:970px){
    .list1_footer > div > h2 {
        font-size: 1.5rem;
    }
    .list1_footer > div > p {
        font-size: 0.8rem;
    }
    .list2_footer > div > h2 {
        font-size: 1.5rem;
    }
    .list2_footer > div > p {
        font-size: 0.8rem;
    }
    .list3_footer > div > h2 {
        font-size: 1.5rem;
    }
    .list3_footer > div > p {
        font-size: 0.8rem;
    }
    .list4_footer > div > h2 {
        font-size: 1.5rem;
    }
    .list4_footer > div > p {
        font-size: 0.8rem;
    }

}
@media (max-width: 700px) {
    .container_copyright{
        height: 70px;
        flex-wrap: wrap;
    }
    .container_copyright > h2{
font-size: 0.9rem;
    }
    .container_copyright > p{
        font-size: 0.8rem;
            }
}