
.container_footer {
    display: flex;
    color: #f1f1f1;
   gap: 8%;
   margin: 4%;
   margin-left: 6%;
   margin-right: 6%;
   letter-spacing: 2px;
}


/* FirstList*/

.list1_footer > div {
    display: flex;
    
}
.list1_footer > div >h2 {
    font-size:1.7rem;
    margin-bottom: 10px;
}
.list1_footer > div > p {
    font-size:0.9rem;
    color: #c9c7c7;
    margin-top: 3%;
    margin-left: 5px;
}
.zapIcon_list1_footer{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    margin-left: -2.5%;
    color: white;
    cursor:pointer;
}


/* Second List*/
.list2_footer > div{
    display: flex;
}
.list2_footer > div >h2 {
    font-size:1.7rem;
    margin-bottom: 10px;
}
.list2_footer > div > p {
    font-size:0.9rem;
    color: #c9c7c7;
    margin-top: 3%;
    
    
}
.instaIcon_list2_footer{
    margin-left: -4%;
}
.zapIcon_list2_footer{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    margin-left: -4%;
    color: white;
    cursor:pointer;
}

.youtubeIcon_list2_footer{
    margin-left: -13.5%;
}

.tiktokIcon_list2_footer{
    margin-left: -14.1%;
}

/* Third List*/
.list3_footer > div >h2 {
    font-size:1.7rem;
    margin-bottom: 0.8rem;
}
.list3_footer > div >p {
    font-size:0.9rem;
    color: #c9c7c7;
    margin-top: 6%;
    
}

/* Fourd_list*/
.list4_footer > div >h2 {
    font-size:1.7rem;
    margin-bottom: 0.8rem;
}
.link_aboutUs {
    font-size: 1rem;
    color: rgba(138, 194, 207, 1);
    cursor: pointer;
}
.list4_footer > div >p {
    font-size:0.9rem;
    color: #c9c7c7;
    margin-top: 6%;
    
}

/* Copyright List*/
.container_copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: rgb(66, 91, 98);
    color: #f1f1f1;
    letter-spacing: 2px;
}
.container_copyright > h2 {
    color: rgba(138, 194, 207, 1);
    font-size:1.1rem ;
    background-color: rgb(66, 91, 98);
    margin-left: 0.5%;
}
.container_copyright >p {
    margin-left: 0.5%;
    background-color: rgb(66, 91, 98);
 font-size: 0.9rem;
 color: #c9c7c7;
}