.slide{
  width: 100%;
  margin: 0 auto;
  background-color: #f1f1f1;
  height: 58vh;
}

.slide__item {
  width: 80%;
  height: 450px;
  margin-left: 10%;
  padding: 0.2rem;
border: solid 1px ;
border-radius: 2rem;
border-color: #01274e;
}


