.slide{
  width: 100%;
  margin: 0 auto;
  height: 50vh;
  max-height: 50vh;
  
}

.slide__item {
  width: 65%;
  height: 40vh;
  margin-left: 18%;
  padding: 0.3rem;
  border: solid 3px rgba(94, 128, 137, 1); 
  border-radius: 30px;

}



