.slide{
  width: 100%;
  margin: 0 auto;
  height: 50vh;
  max-height: 50vh;
  margin-top: 20%;
}

.slide__item {
  width: 75%;
  height: 40vh;
  margin-left: 12%;
  padding: 0.2rem;
  border: solid 3px rgba(94, 128, 137, 1); 
  border-radius: 30px;

}


