@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.list{
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
}

.items{
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgb(217, 217, 216);
    padding: 5px;
    gap: 80px;
    font-size:23px;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.items >div{
    font-family: 'Red Hat Display';
    cursor: pointer;
    
}

.items > div:hover{
    color: yellow;

}