
.list{
    background-color:  #f1f1f1;;
    display:flex;
    align-items: center;
    justify-content: center;
}

.items{
    display:flex;
    align-items: center;
    justify-content: center;
    color: #01274e;
    padding: 5px;
    gap: 60px;
    font-size:21px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.items >div{
    cursor: pointer;
    
}

.items > div:hover{
    color: #d1ae88;

}