.copyright-icon{
    font-size: 0.7rem;
    margin-top: 0.3%;
    margin-left: 0.2%;
    background-color: rgb(66, 91, 98);
    cursor: pointer;
    color: rgba(138, 194, 207, 1);
    cursor:pointer;
}

