.cart_menu{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10; 
    display: none;
  }
  
  .empty_cart {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: rgba(138, 194, 207, 1);
    font-size: 20px;
    display: none;
    
  }

.cart_icon_empty{
    font-size: 40px;
}

.button_close{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: rgba(138, 194, 207, 1);
    cursor: pointer;
    outline: none;
    font-size: 40px;
    position: absolute;
  top: 1.1%; /* Distância do topo */
  left: 71%;
}
.cart-button-pay{
  border: 2px solid rgba(138, 194, 207, 1);
  padding: 10px;
  border-radius: 20px;
  color: rgba(138, 194, 207, 1);
}
 

