.login_icon{
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
    color: rgba(94, 128, 137, 1);
    cursor: pointer;
}
.login_icon:hover{
    color: rgba(138, 194, 207, 1);
}