.all__cards{
    display: flex;
    flex-direction: column;
    gap: 3%;
}
.cards_container{
    display: flex;
    gap: 5% ;
}

.buttons_change{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}
.prev_cardProducts{
font-size: 0.8rem;
border: solid 3px rgba(94, 128, 137, 1); 
border-radius: 30px;
padding: 1.5%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
color: white;

}
.next_cardProducts{
    font-size: 0.8rem;
    border: solid 3px rgba(94, 128, 137, 1); 
    border-radius: 30px;
    padding: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}