.header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*max-width: 700px;*/
    position:fixed;
    z-index: 1000; 
    gap: 3%;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 180px;
}

.logo >img {
width: 170px;
height: 110px;


}


.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50px; /* Coloca os ícones no final da página */
    gap: 1% ;
    margin-left: 5%;
    
    
}
.icons > div{
    margin-left: 18%;
}

.anchors{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
}

.items_anchors{
    display:flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    gap: 10%;
    font-size:1.5rem;
    letter-spacing: 3px;
    
}


.items_anchors > div:hover{
    color: rgba(138, 194, 207, 1);
cursor: pointer;
}
.name{
    font-size: 22px;
    color: rgba(138, 194, 207, 1);
}

