.header_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative; 
}

.logo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 200px;
}

.logo >img {
width: 200px;
height: 130px;


}


.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50px; /* Coloca os ícones no final da página */
    gap: 1% ;
    margin-left: 1%;
    
    
}

.anchors{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
}

.items{
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgba(94, 128, 137, 1);
    gap: 3%;
    font-size:21px;
    letter-spacing: 3px;
    
}

.items >div{
    cursor: pointer;
    
}

.items > div:hover{
    color: rgba(138, 194, 207, 1);

}
.name{
    font-size: 25px;
    
}