.header {
    display: flex;
    background-color: #f1f1f1;
    width: 100%;
    align-items: center;
    justify-content: space-between; 
    padding: 15px;
    gap: 20px;
    position: relative; 
}

.logo {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-grow: 1; /* Garante que a div logo ocupe o espaço disponível */
    height: 200px;
}

.logo >img {
width: 300px;
height: 250px;

}

.icons {
    display: flex;
    position: absolute; /* Posiciona os ícones em relação à div .header */
    right: 50px; /* Coloca os ícones no final da página */
    gap: 10px;
    margin-top: 98px;
    
}

.name {
    width: 300px;
    height: 150px;
}

