.Card{
    width: 100%;
    width: 220px;
    height: 390px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
}

.card__image{
    width: 100%;
    width: 220px;
    height: 310px;
    border-radius: 20px;
    object-fit: cover;  /* Esse comando aqui renderiza a imagem sem deixar ela esticada. Assim, pode ficar um pouco cortada, mas fica bem mais bonito. */
}

.card__info{
    margin: 2%;
    border-radius: 20px;
}

.card__price{
    font-size: 20px;
    display: block;
    color: #f1f1f1;
    
}

.card__title {
    font-size: 15px;
    line-height: 1.5;
    color: rgb(205, 204, 204);
    font-weight: 500;
    
}

.add__cart {
display: none;
position: absolute;
right: 0;
bottom: 0;
width: 45px;
height: 45px;
color: #f1f1f1;
margin-bottom: 5%;
margin-right: 3%;
align-items: center;
justify-content: center;
border-color: rgba(138, 194, 207, 1);
border-radius: 50px;
font-size: 1.5rem;
cursor: pointer;
}

.Card:hover {
    box-shadow: 0 0 10px 4px rgba(138, 194, 207, 1);
cursor: pointer;
}

/* Mesmo com o display:none, o carrinho aparece quando o hover é acionado, por conta deste novo display. */
.Card:hover .add__cart {
    display:block;
    color: rgba(138, 194, 207, 1);
}
