.container3 {
    width: 100%;
    background-color: #f1f1f1;
    height: 50vh;
    display: flex;
    align-items: center;
  
}

.item3 {
    width: 240px; 
    display: flex;
    flex-direction:column; 
    cursor: pointer;
    position: relative;
    background-color: #f1f1f1;
    margin-left: 8%;
    margin: 0 auto;
    padding: 5px;
}

.item_image3 {
    width: 100%; 
    height: 350px; 
    border: solid 2px #01274e;
    border-radius: 30px;
    object-fit: cover;
}

.item_info3 {
    padding: 5px;
   
    
}

.item_price3 {
    font-size: 17px;
    color: rgb(148, 148, 148)
}

.item_image3:hover {
    box-shadow: 0 0 20px 5px #01274e;
    
    
}