.recovery-password-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 500px; 
   height: 600px;
   min-height: 600px;
   max-height: 600px;
    margin: auto;
    border: solid 3px rgba(94, 128, 137, 1); 
    border-radius: 50px; 
    padding: 20px;
    box-sizing: border-box; 
    text-align: center; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.logo-img{
    width: 250px;
    height: 180px;
    margin-top: 2%;
    cursor: pointer;
}

.recovery-password-title{
    margin-top: 20px;
    color: rgba(138, 194, 207, 1);
}

.error-message-recovery-password{
    color: rgb(255, 80, 80);
    font-size: 1.1rem;
    margin-top: 10px;
    
}
.success-message-recovery-password{
    color: rgba(138, 194, 207, 1);
    margin-top: 20px;
    font-size: 0.9rem;
}

.input-group-recovery-password{
margin-top: 20px;
}

.input-group-recovery-password > input{
    width: 300px;
    border: solid 2px rgba(94, 128, 137, 1); 
    border-radius: 10px;
    color: white;
    padding: 3%;
    margin-top: 10px;
    margin-right: 1%;
    font-size: 0.9rem;
    }

.submit-button-recovery-password{
    width: 150px;
    border: solid 2px rgba(94, 128, 137, 1); 
    border-radius: 10px;
    color: white;
    padding: 2%;
    margin-top: 20px;
    cursor: pointer;
    font-size: 0.9rem;
}
.submit-button-recovery-password:hover{
    background-color: rgba(138, 194, 207, 1);
    color: black;
}

.back-to-login{
    width: 150px;
    height: 40px;
    border: solid 2px rgba(94, 128, 137, 1); 
    border-radius: 10px;
    color: white;
    padding: 2%;
    margin-top: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    
}
.back-to-login:hover{
    background-color: rgba(138, 194, 207, 1);
    color: black;
}